<div class="wrap">
    <div class="container">
        <form [formGroup]="form" *ngIf="form" (ngSubmit)="submit()">
            <h1>{{action}} Todo</h1>
            <div class="details">
                <label>title</label>
                <input type="text" placeholder="enter title" formControlName="title">
                <span *ngIf = "fc.title.errors && isSubmitted" class="error-block">
                    <span *ngIf="fc.title.errors.required">please enter value</span>
                </span>
                <label>body</label>
                <textarea row="4" placeholder="enter the text" formControlName="body"></textarea>
                <span *ngIf = "fc.body.errors && isSubmitted" class="error-block">
                    <span *ngIf="fc.body.errors.required">please enter value</span>
                </span>
                <button class="add-btn" type="submit">{{action}}</button>
            </div>
        </form>
    </div>
</div>
